*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-header{
    background-image: url(./main/img/Image.png);
    width: 1615px;
    height: 880px;
}

.box{
    width: 540px;
    height: 370px;
    margin-top: 200px;
    margin-left: 250px;
    text-align: center;
}

.text{
   width: 500px;
   color: black;
}

.p{
    width: 530px;
    height: 118px;
    font-size: 21px;
    color: #696871;
    text-align: center;
}

.hover:hover{
    background-color: rgb(242, 168, 168);
    transition: 1s;
    border-radius: 30px;
}

.list{
    width: 390px;
    height: 512px;
    margin-top: 150px;
    margin-left: 230px;
}

.min_list{
    width: 385px;
    height: 154px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.img_list{
    margin-top: 26px;
    margin-left: 28px;
}

.text_list{
    width: 255px;
    height: 100px;
    margin-left: 120px;
    position: relative;
    bottom: 60px;
    color: black;
}

.content{
    width: 521px;
    height: 375px;
    margin-left: 813px;
    z-index: 1;
    position: relative;
    bottom: 450px;
}


.content_t{
    width: 525px;
    height: 381px;
    margin-top: 182px;
}

.img_bag{
    background-image: url(./main/img/IMG.png);
    width: 758px;
    height: 744px;
    margin-left: 611px;
    position: relative;
    bottom: 565px;
}

.img_p{
    position: relative;
    margin-top: 460px;
    right: 150px;
}
